//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 11 15:09:52 2019
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "P83" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "sevenSegmentOutput<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "sevenSegmentOutput<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "sevenSegmentOutput<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "sevenSegmentOutput<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "sevenSegmentOutput<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "sevenSegmentOutput<5>" LOCATE = SITE "P44" LEVEL 1;
COMP "sevenSegmentOutput<6>" LOCATE = SITE "P30" LEVEL 1;
COMP "sevenSegmentOutput<7>" LOCATE = SITE "P33" LEVEL 1;
COMP "rightArrow" LOCATE = SITE "P78" LEVEL 1;
COMP "fire" LOCATE = SITE "P67" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P55" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P58" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P66" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P59" LEVEL 1;
COMP "ledOut<0>" LOCATE = SITE "P132" LEVEL 1;
COMP "ledOut<1>" LOCATE = SITE "P131" LEVEL 1;
COMP "ledOut<2>" LOCATE = SITE "P127" LEVEL 1;
COMP "ledOut<3>" LOCATE = SITE "P126" LEVEL 1;
COMP "ledOut<4>" LOCATE = SITE "P124" LEVEL 1;
COMP "ledOut<5>" LOCATE = SITE "P123" LEVEL 1;
COMP "ledOut<6>" LOCATE = SITE "P121" LEVEL 1;
COMP "ledOut<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "leftArrow" LOCATE = SITE "P75" LEVEL 1;
COMP "autoPilot" LOCATE = SITE "P48" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "P87" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "P85" LEVEL 1;
COMP "sevenSegmentEnable<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "sevenSegmentEnable<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "sevenSegmentEnable<2>" LOCATE = SITE "P41" LEVEL 1;
COMP "sevenSegmentEnable<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "startGame" LOCATE = SITE "P74" LEVEL 1;
COMP "CLOCK_24" LOCATE = SITE "P50" LEVEL 1;
COMP "RESET_N" LOCATE = SITE "P51" LEVEL 1;
SCHEMATIC END;

